<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Maven+Pro:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% include 'sidebar.html' %}
    <section>
        {% block content %}{% endblock %}
    </section>
</body>
    <script type="text/javascript" src="../static/js/BaseFunctions.js"></script>
    {% block endscripts %}{% endblock %}
</html>