body{
    font-family: 'Maven Pro', sans-serif;
    margin: 0;
    min-height: 100vh;
    min-width: 100%;
    font-size: 20px;
}
p{
    margin: 0;
}
section{
    margin-left: 12%;
    padding: 25px;
}

.sidebar{
    width: 12%;
    height: 100vh;
    background-color: #80c761;
    position: fixed;
    float: left;
    .logo{
        width: 100%;
    }
    .navigation{
        .nav-tab{
            color: #eeefd8;
            .tab-title{
                text-align: center;
                margin: 0px;
            }
            .greenhouses{
                padding: 15px;
                a{
                    text-decoration: none;
                }
                .greenhouse{
                    padding: 12px;
                    border: #eeefd8 1px solid;
                    background-color: #eeefd8;
                    color: #80c761;
                    border-radius: 20px;
                    margin-bottom: 10px;
                    .icon {
                        content: url(../img/greenhouse-icon.svg);
                        height: 25px;
                        width: 25px;
                        display: block;
                        float: left;
                        padding-right: 20px;
                    }
                    &:hover{
                        background-color: white;
                        transition: all 0.2s ease;
                    }
                }
            }
        }
    }
}

.dataTable{
    overflow: hidden;
    border-radius: 10px;
    border-spacing: 0;
    thead{
        tr{
            background: #80c761;
            th{
                padding: 20px;
                font-size: 18px;
                color: #ffffff;
            }
        }
    }
    tbody{
        tr:nth-child(even){
            background-color: #f5f5f5
        }
        tr.Display{
            td:nth-child(1){
                text-align: center;
                font-size: 18px;
            }
        }
        td{
            padding: 10px 20px;
        }

    }
}